* {
  margin: 0;
}
body {
  font-family: "Oswald", sans-serif;
}
.container {
  padding: 10px;
}
.header__top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  display: flex;
  margin-bottom: 10px;
}
.title > h2 {
  font-weight: 200;
}
.header__topLink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.header__topLink > span {
  display: flex;
  border: 1px solid #eee;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin-right: 5px;
  border-radius: 3px;
}
.header__topLink > span:last-child {
  margin-right: none;
  justify-content: flex-start;
}
.header__topLink > span:last-child > i {
  margin-right: 10px;
}
.header__topLink > span > i {
  font-size: 14px !important;
}
.header__topLink > span > p {
  font-weight: 300;
  font-size: 14px;
}
.header__search {
  display: flex;
  width: 99%;
  margin-top: 3px;
}
.search {
  width: 95%;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #ddd;
}
.search > form > input[type="text"] {
  border: none;
  outline-width: 0px;
  outline: none;
  width: 90%;
  padding: 5px;
  background: transparent;
}
.search > form > input[type="submit"] {
  display: none;
}
.search > form > i {
  font-size: 14px !important;
}
.slider {
  display: flex;
  width: 100%;
}
.slider__container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.slide {
  display: flex;
  justify-content: space-around;
}
.slide > img {
  width: 100%;
  object-fit: contain;
  height: 150px;
  border-radius: 5px;
  margin-right: 10px;
}
.categories {
  display: flex;
  margin-top: 5px;
  width: 100%;
}
.product__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.category {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5px;
  cursor: pointer;
}
.category > span {
  display: flex;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #fff;
  flex-direction: column;
}
.product__categories > .category:nth-child(1) > span {
  background-color: blue;
}
.product__categories > .category:nth-child(2) > span {
  background-color: orange;
}
.product__categories > .category:nth-child(3) > span {
  background-color: purple;
}
.product__categories > .category:nth-child(4) > span {
  background-color: green;
}
.category > span > i {
  align-items: center;
  padding: 25px;
  font-size: 20px !important;
}
.category > p {
  line-height: 1rem;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}
.products {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.products > .container {
  display: flex;
}
.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: -1px 1px 9px 1px rgba(148, 148, 148, 0.33);
}

.product__description > p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}
.product > .product__image > img {
  height: 200px;
  object-fit: contain;
  width: 100%;
}
.product__price > h1 {
  font-size: 24px;
  font-weight: 600;
}
.product__tag > p {
  font-size: 14px;
  font-weight: 300;
}

.footer {
  display: none;
}
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footer__container {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: -10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.footer__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}
.footer__item > span {
  margin-bottom: 5px;
  padding-top: 5px;
}
.footer__item > h1 {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 2px;
}
@media screen and (max-width: 700px) {
  .products > .container {
    display: block !important;
  }
  .product:last-child {
    padding-bottom: 80px;
  }
  .footer {
    display: block;
  }
}
